body {
  
  background: red;

}

h1 { 
  color: green;
  font-weight:inherit;
  font-family: fantasy;
  }

p {
  color:orange;
  font-family: fantasy;
  
    
}
img {
  float: right;
  width: 100px;
  height: 100px
  
}
